<div style="width: 330px; height: 150px; border: 1px solid #d3d3d3; margin: 3px 3px 0px 0px; padding: 2px 2px 2px 2px; float: left">
    <div style="vertical-align: top; padding: 0px 10px 0px 0px; float: left;">
        <% movie = collection.movies.first %>
        <%= link_to movie_thumb(movie, :class => 'movie-cover'), movie, :remote => false %>
    </div>
    <div style="vertical-align: top">
        <span style="font-size: 175%"><%= link_to collection.name, collection, :remote => false %></span>
        <br/>
        <span style=""><%= collection.movie_count %> <%= "movie".pluralize collection.movie_count %></span>
    </div>
</div>
