<div class="movie" onclick="window.location='<%= url_for collection %>'">
    <div class="movie-image">
        <% movie = collection.movies.first %>
        <%= link_to movie_thumb(movie, :class => 'movie-thumb'), movie %>
    </div>
    <div class="movie-detail">
        <div><strong><%= link_to collection.name, collection %></strong> (<%= collection.movie_count %>)</div>
    </div>
</div>
