<h1><%= @movie.title %> <small>Credits</small></h1>
<div>
    <table class="table table-bordered">
        <tr><th>Member</th><th>Role</th><th>Character</th></tr>
        <%= render :collection => @movie_credits, :partial => 'movie_credits/credit' %>
    </table>
</div>

