<div style="">
    <table align="center" width="80%">
        <% @movie_genres.each_with_index do |genre, index| %>
        <% movie = genre.pick_movie %>
            <% if index % 2 == 0 %>
            <% if index %> </tr> <% end %>
            <tr>
            <% end %>
            <td valign="top">
                <div><a href="<%= url_for genre %>"><h2><%= genre.name %></h2></a></div>
                <div>
                    <% genre.movies.shuffle[0..2].each do |movie| %>
                    <a href="<%= url_for movie %>"><%= movie_thumb(movie, :class => 'movie_thumb') %></a>
                    <% end %>
                </div>
            </td>
        <% end %>
    </table>
</div>
